/*_______ Blockquotes Blocks _______*/
.wp-block-quote{
	position: relative;
	padding-right: 5%;
	padding-left: 1.25rem;
	border-left: .25rem solid $color__secondary;
	margin-bottom: 2rem;
	p{
		font-style: italic;
		line-height: 140%;
		margin-bottom: .5em;
	}
	cite{
		display: block;
		font-style: normal;
		line-height: 120%;
		text-align: left !important;
		color: $color__grey_blue;
		a{
			color: $color__grey_blue;
		}
	}
	&.is-style-large{
		padding: 1rem 5% 0 2.5rem;
		border: none;
		margin-bottom: 2rem;
		@media (min-width: 480px){
			padding: 1rem 10% 0 3rem;
		}
		p{
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 120%;
			padding: .5rem 0 0;
			margin-bottom: 1rem;
			@media (min-width: 480px){
				font-size: 2rem;
			}
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1.25rem;
			height: 100%;
			background-color: $color__tertiary;
			margin: 1.25rem 0 0;
			@media (min-width: 480px){
				width: 2rem;
				margin: .75rem 0 0;
			}
		}
		&:after{
			content: '“';
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 700;
			font-size: 3.25rem;
			font-style: normal;
			line-height: 4.875rem;
			color: $color__secondary;
			@media (min-width: 480px){
				font-size: 4.875rem;
			}
		}
	}
}
.wp-block-pullquote{
	padding: 2rem;
	border-top: .25rem solid $color__primary;
	border-bottom: .25rem solid $color__primary;
	margin-top: 4rem;
	margin-bottom: 4rem;
	p{
		font-style: italic;
		font-size: 1.75rem;
		font-weight: 800;
		line-height: 140%;
		margin-bottom: 1rem;
	}
	cite{
		display: block;
		font-size: 1rem;
		font-style: normal;
		line-height: 100%;
		color: $color__grey_blue;
		a{
			color: $color__grey_blue;
		}

	}
	&.alignright{
		max-width: 500px;
		margin-top: auto;
		margin-bottom: auto;
	}
	&.alignleft{
		max-width: 500px;
		margin-top: auto;
		margin-bottom: auto;
	}
	&.is-style-solid-color{
		background-color: $color__tertiary;
	}

}

/*_______ Verse Block _______*/
.wp-block-verse{
	font-size: 1.25rem;
}