/*_______ Notation block (paragraph highlighted with background color) _______*/
.notation{
	padding: 1rem;
	background-color: $color__secondary-third;
	margin-bottom: 2rem;
	@media (min-width: 375px){
		padding: 2rem;
	}
	%headings{
		&:first-child{
			margin-top: 0;
		}
	}
	.wp-block-group__inner-container{
		margin: 0;
	}
	%headings,
	p{
		color: $color__primary;
	}
	p{
		font-size: 1.25rem;
		line-height: 120%;
		&:last-of-type{
			margin-bottom: 0;
		}
	}
	ul, ol{
		margin-top: 0;
		color: $color__primary;
		padding-left: 1rem;
	}
	.wp-block-jetpack-contact-form,
	.contact-form{
		margin: 0;
	}
	&.dark{
		background-color: $color__primary;
		%headings,
		p,
		label{
			color: white !important;
		}
	}
}

p + .notation,
%headings + .notation{
	margin-top: 4rem;
}

.schedule-time{
	position: relative;
	font-size: 1.5rem !important;
	line-height: 110%;
	padding-left: 2.25rem;
	&:before{
		content: "\f508";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		font-family: 'dashicons';
		text-align: center;
		color: $color__secondary;
	}
}