/*_______ Sponsors list _______*/
.home-sponsors{
	background-color: $color__tertiary;
	padding: 4rem 2rem;
}

.wordcamp-post-list{
	&.has-layout-grid{
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		.wordcamp-post-list__post{
			margin-bottom: 0;
		}
		&.has-grid-columns-2{
			.wordcamp-post-list__post{
				flex: 0 1 48%;
				width: 48%;
			}
		}
		&.has-grid-columns-3{
			.wordcamp-post-list__post{
				flex: 0 1 31.333%;
				width: 31.333%;
			}
		}
		&.has-grid-columns-4{
			.wordcamp-post-list__post{
				flex: 0 1 23%;
				width: 23%;
			}
		}
		&.has-grid-columns-5{
			.wordcamp-post-list__post{
				flex: 0 1 18%;
				width: 18%;
			}
		}
	}
}

/*_______ Sponsors single _______*/
.single-wcb_sponsor{
	.entry-header{
		padding: 7rem 2rem 3rem;
	}
	.entry-title{
		width: 100%;
		@extend %inner;
		font-size: 15vw;
		line-height: 95%;
		text-align: left;
		margin-bottom: 4rem;
		@media (min-width: 769px){
			@include font-size(6);
		}
		&:before{
			display: block;
			content: "_Sponsor";
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 100%;
		}
	}
	.entry-image{
		@extend %inner-moretiny;
		padding: 0 2rem;
		background-color: $color__lightcream;
		margin-bottom: 0;
	}
}

.sponsor-booths{
	max-width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border-collapse: collapse;
	@media(min-width: 768px){
		max-width: $size__content-moretiny;
	}
	tr{
		@media(min-width: 768px){
			border: none;
		}
		td{
			display: block;
			@media(min-width: 768px){
				display: table-cell;
			}
			&:first-child{
				@media(min-width: 768px){
					max-width: 200px;
					text-align: right;
					padding-right: 2rem;
				}
			}
		}
		%headings{
			font-size: 1.75rem;
		}
		.wp-block-button__link{
			font-size: 1.25rem !important;
		}
	}
}