/*_______ Schedule page _______*/
.schedule-block{
	padding: 0 1rem;
}
.wcpt-schedule{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 769px){
		max-width: $size__content-max !important;
	}
	border-collapse: collapse;
	margin-left: auto !important;
	margin-right: auto !important;
	thead{
		border: none;
		th{
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.75rem;
			text-align: center;		
			color: $color__primary;
			padding: 1rem;
			background-color: $color__secondary-lighter;
			&:nth-of-type(2){
				border-right: .125rem solid $color__secondary_half;
			}
			&.wcpt-col-time{
				font-size: 0;
				text-indent: -9999px;
				color: $color__lightcream;
				padding: 0;
				background-color: $color__lightcream;
				border: none;
				margin: 0;
			}
		}
	}
	tbody{
		width: 100%;
		tr{
			border: none;
			vertical-align: top;
			td{
				position: relative;
				width: auto;
				padding: 1.5rem;
				border: .125rem solid $color__secondary_half;
				&:first-of-type,
				&.wcpt-time{
					display: table-cell;
					min-width: 15%;
					font-weight: 700;
					font-size: 1rem;
					text-align: left;
					line-height: 100%;
					color: $color__primary;
					padding: .5rem 1rem;
					background-color: $color__secondary_third;
					border: none;
					overflow: hidden;
					@media (min-width: 700px){
						display: block;
						text-align: right;
						padding: .5rem;
					}
					&:before {
						display: block;
						font-size: 1rem;
						margin-bottom: .25rem;
					}
					&:after {
						content: " UTC";
						font-size: 80%;
					}
				}
				&.wcpt-session-type-session,
				&.wcpt-session-type-custom{
					@media (min-width: 700px){
						width: 45%;
					}
					.wcpt-session-title{
						font-family: $font__main;
						font-weight: 700;
						font-size: 1.25rem;
						text-decoration: none;
						@media (min-width: 480px){
							font-size: 1.5rem;
						}
						@media (min-width: 769px){
							font-size: 1.5rem;
						}
					}
				}
				&.wcpt-session-type-custom{
					text-align: center;
					.wcpt-session-title{
						justify-content: center;
						margin-bottom: 0;
					}
				}
				&.wcpt-session-type-session{
					height: inherit;
					vertical-align: top;
					&:before{
						display: inline-block;
						font-weight: 700;
						font-size: .875rem;
						line-height: 100%;
						color: $color__primary;
						padding: .25rem .5rem;
						background-color: $color__tertiary;
						border: none;
						margin-bottom: .5rem;
						@media (min-width: 700px){
							display: none;
						}
					}
					&.wcb-track-track-1.wcb-track-track-2{
						@media (min-width: 700px){
							text-align: center;
						}
					}
					.wcb-session-cell-content{
						@media (min-width: 700px){
							padding-right: 2rem;
						}
						.wcpt-session-title{
							display: block;
							font-size: 1.25rem;
							line-height: 120%;
							text-decoration: none;
							color: $color__secondary;
							margin-bottom: .5rem;
							padding: 0;
							@media (min-width: 375px){
								font-size: 1.5rem;
							}
							@media (min-width: 769px){
								font-size: 1.5rem;
							}
							&:hover{
								color: $color__primary;
							}
						}
						.wcpt-session-speakers{
							width: auto;
							padding: 0;
							margin-top: auto;
							margin-bottom: 0;
							&:before{
								content: 'by ';
								font-weight: 400;
								font-style: normal;
								font-size: 1.125rem;
								color: $color__secondary;
							}
							a{
								@extend %camptix-nice-link;
								font-weight: 700;
								font-size: 1.25rem;
							}
						}
					}
					.wcb-session-favourite-icon{
						position: absolute;
						top: 1rem;
						right: .5rem;
						.dashicons{
							color: $color__tertiary;
							text-decoration: none;
							&:before{
								content: "\f154";
								@extend %transition;
							}
							&:hover{
								&:before{
									content: "\f155";
									color: $color__secondary;
								}
							}
						}
					}
				}
				&.wcb-favourite-session{
					background-color: $color__tertiary-third;
					.wcb-session-favourite-icon{
						.dashicons{
							color: $color__secondary;
							&:before{
								content: "\f155";
							}
							&:hover{
								&:before{
									content: "\f154";
									color: $color__tertiary;
								}
							}
						}
					}
				}
				&.wcpt-session-empty {
					@media (max-width: 700px){
						display: none;
					}
				}
			}
		}
	}
}

/*_______ Adding session categories on the schedule table _______*/
.wcpt-schedule{
	td{
		&.wcpt-session-type-session{
			.wcb-session-cell-content{
				&:before{
					display: inline-block;
					float: none;
					width: auto !important;
					height: auto !important;
					font-weight: 400;
					font-size: .75rem;
					line-height: 100%;
					color: $color__primary;
					background-color: $color__grey_minimus;
				}
			}
			&.wcb-session-category-talk{
				.wcb-session-cell-content:before{
					content: "Talk";
					padding: .25rem .25rem;
					margin-bottom: .25rem;
				}
			}
			&.wcb-session-category-lightning-talk{
				.wcb-session-cell-content:before{
					content: "Lightning talk";
					padding: .25rem .25rem;
					margin-bottom: .25rem;
				}
			}
			&.wcb-session-category-workshop{
				.wcb-session-cell-content:before{
					content: "Workshop";
					padding: .25rem .25rem;
					margin-bottom: .25rem;
				}
			}
			&.wcb-session-category-interview{
				.wcb-session-cell-content:before{
					content: "Interview";
					padding: .25rem .25rem;
					margin-bottom: .25rem;
				}
			}
			&.wcb-session-category-discussion-panel{
				.wcb-session-cell-content:before{
					content: "Discussion panel";
					padding: .25rem .25rem;
					margin-bottom: .25rem;
				}
			}
		}
	}
}

/*_______ Favorite Sessions tool _______*/
.entry-content{
	a.show-email-form {
		bottom: 1rem;
		right: 1rem;
		line-height: 100%;
		color: white !important;
		padding: .5rem;
		background: $color__tertiary;
		border: none;
		border-radius: 0;
		z-index: 9999;
		@extend %transition;
		&:hover{
			color: $color__primary !important;
			background-color: $color__tertiary_half;
		}
		.dashicons-star-filled{
			&:before{
				content: "\f537";
				vertical-align: middle;
			}
		}
		.dashicons-email-alt{
			width: auto;
			height: auto;
			font-family: $font__main;
			font-weight: 700;
			font-size: 1.25rem;
			speak: normal;
			&:before{
				content: "Save favourites";
			}
		}
	}
}

.email-form {
	&.fav-session-email-form-show{
		left: .5rem;
		right: .5rem;
		bottom: 4rem;
		max-width: auto;
		font-size: 1rem;
		padding: 0;
		background-color: $color__secondary-third;
		border: none;
		border-radius: 0;
		margin-bottom: 0;
		box-shadow: 0 0 1rem transparentize($color__primary, .75);
		@media (min-width: 480px){
			left: inherit;
			right: 1rem;
			max-width: $size__content-supertiny;
		}
		+ .show-email-form{
			color: $color__primary !important;
			background-color: $color__tertiary_half;
		}
	}
	.fav-session-share-tab {
		background-color: $color__secondary-third !important;
		border: none !important;
		@extend %transition;
		.fav-session-tablinks{
			font-size: 1rem;
			color: $color__tertiary;
			padding: .5rem 1rem;
			&:hover{
				color: white;
				background-color: $color__tertiary;
			}
			&.active {
				font-weight: 700;
				color: white;
				background-color: $color__tertiary;
			}
		}
	}
	
	.fav-session-share-tabcontent {
		font-weight: 700;
		font-size: 1.25rem;
		padding: 1rem !important;
		background-color: $color__secondary-third !important;
		border: none !important;
	}
	
	#fav-session-email-form{
		line-height: 100% !important;
		margin: 0;
		#fav-sessions-email-address{
			margin-top: .5rem;
			margin-bottom: 1rem;
			padding: .5rem;
			&::placeholder{
				font-size: .875rem !important;
				color: $color__grey_verylight !important;
			}
		}
		input[type="submit"]{
			padding: .5rem 1.5rem;
		}
	}
	
	#fav-sessions-link{
		display: block;
		width: 100%;
		font-weight: 700;
		font-size: 1rem;
		line-height: 100%;
		color: $color__tertiary;
		word-break: break-all;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		margin: 1rem auto;
	}
	
	#fav-session-print{
		font-size: 1.25rem;
		&:before{
			content: "\f491";
			font-family: 'dashicons';
			vertical-align: middle;
		}
	}
}

/*_______ Live Schedule block _______*/
.wp-block-wordcamp-live-schedule{
	.wordcamp-live-schedule{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.wordcamp-live-schedule__title{
			width: 100%;
			text-align: center;
		}
		.wordcamp-live-schedule__session{
			display: block;
			@extend %camptix-item;
			flex: 1 1 100%;
			margin-bottom: 2rem;
			@media (min-width: 768px){
				flex: 0 1 48%;
			}
			&.type-custom{
				.wordcamp-live-schedule__session-speaker{
					display: none;
				}
			}
		}
		.wordcamp-live-schedule__session-track{
			width: auto;
			display: inline-block;
			font-weight: 700;
			font-size: 1.25rem;
			padding: .25rem .5rem;
			background-color: $color__tertiary;
			margin-bottom: 1rem;
		}
		.wordcamp-live-schedule__session-details{
			width: 100%;
			display: flex;
			flex-flow: column wrap;
			margin: 0;
			.wordcamp-live-schedule__session-title{
				font-size: 2rem;
				margin-bottom: .5rem;
				a{
					text-decoration: none;
				}
			}
			.wordcamp-live-schedule__session-time{
				display: block;
				font-weight: 700;
				padding-left: .5rem;
				border-left: .25rem solid $color__secondary;
				margin-bottom: 1rem;
				order: -1;
				&:after{
					content: ' CEST';
					font-weight: 400;
					font-size: 80%;
				}
			}
			.wordcamp-live-schedule__session-speaker{
				display: inline-block;
				width: auto;
				font-weight: 700;
				font-size: 1.5rem;
				color: $color__secondary;
				margin-bottom: .5rem;
				&:before{
					content: 'by ';
					font-weight: 400;
					font-style: normal;
					font-size: 1.125rem;
					color: $color__primary;
				}
			}
			.wordcamp-live-schedule__session-cats{
				display: block;
				font-weight: 700;
				font-size: .875rem;
				line-height: 100%;
				text-transform: uppercase;
				color: $color__grey_verylight;
			}
		}
	}
}