/*_______ Speaker & Session singles _______*/
.single-wcb_speaker,
.single-wcb_session{
	.entry-header{
		display: block;
	}
	.entry-title{
		@extend %inner;
		&:before{
			content: '';
			display: block;
			margin: 0 auto 1rem;
		}
	}
	.entry-content{
		@extend %inner-tiny;
		margin: 0 auto;
	}
}

/*_______ Speaker single _______*/
.single-wcb_speaker{
	.entry-header{
		padding: 7rem 2rem 3rem;
		margin-bottom: -3rem;
	}
	.entry-title{
		&:before{
			content: "_Speaker";
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 100%;
		}
	}
}
.speaker-avatar{
	display: block;
    width: 6rem;
	height: 6rem;
	background-color: white;
    border-radius: 5rem;
    margin-left: 1rem !important;
    margin-bottom: 2rem;
    overflow: hidden;
    z-index: 1;
	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
.speaker-sessions{
	font-size: 1.5rem;
	padding: 0 !important;
	background-image: none !important;
	margin-top: 4rem !important;
}
#speaker-session-names{
	list-style: none;
	padding: 0;
	margin-bottom: 2rem;
	li{
		padding: 0;
		margin: 0;
		&:before{
			display: none;
		}
		a{
			font-family: $font__main;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 120%;
			color: $color__secondary;
			&:focus,
			&:hover{
				text-decoration: underline;
				color: $color__primary;
			}
		}
	}
}

/*_______ Session single _______*/
.single-wcb_session{
	.entry-header{
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}
	.entry-title {
		font-size: 15vw;
		line-height: 95%;
		text-align: left;
		@media (min-width: 769px){
			@include font-size(6);
		}
		&:before{
			content: "_Session";
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 100%;
			margin: 0 0 .5rem;
		}
	}
}

.session-speakers{
	display: inline-block;
	font-family: $font__main;
	font-weight: 700;
	font-size: 1.25rem;
	margin-right: .5rem !important;
	padding: 0 !important;
	background-image: none !important;
	&:after{
		content: ':';
	}
}
#session-speaker-names{
	display: inline-block;
	list-style: none;
	padding-left: 0;
	margin-left: 0 !important;
	li{
		padding: 0;
		margin: 0;
		&:before{
			display: none;
		}
		a{
			@extend %camptix-nice-link;
			font-family: $font__main;
			font-size: 1.25rem;
		}
	}
}

.session-categories-links{
	@extend %inner-moretiny;
	margin: 0 auto;
	display: block;
	&:before{
		content: 'Category: ';
		font-family: $font__main;
		font-weight: 700;
		font-size: 1rem;
	}
	a{
		@extend %camptix-nice-link;
	}
}